@media (max-width: 1050px) {
  .logo__text {
    width: 95px;
  }
}

@media (max-width: 767px) {
  .intro-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-screen.wrap_container .intro-text {
    width: initial;
  }
  .intro-screen.wrap_container .intro-screen__image {
    width: 75%;
    height: 33vw;
  }
  .intro-screen.wrap_container .intro-text .intro-text__paragraph {
    font-size: 33pt;
    line-height: 1.2;
  }
  .hello-screen__line {
    width: 90%;
  }
  h1 {
    width: 81%;
    font-size: 51pt;
  }
}

@media (max-width: 350px) {
  .wrap_container {
    width: 89%;
  }
  .facts-screen.wrap_container .facts-text {
    width: initial;
  }
  .intro-screen.wrap_container .intro-text .intro-text__paragraph,
  .facts-screen.wrap_container .facts-text .facts-text__headline,
  .section-headline {
    font-size: 25pt;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .gallery-screen .photo-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-screen .photo-group .photo img {
    width: 286px;
    height: 216px;
  }
  .gallery-screen .photo-group .photo:nth-of-type(2) img {
    margin: 20px 0;
  }
  .card {
    margin-bottom: 30px;
  }
  .card-wrapper .card .card__headline {
    margin: 30px 0;
  }
  .facts-screen.wrap_container iframe {
    width: 286px;
    height: 161px;
  }
  .intro-screen.wrap_container .intro-screen__image {
    height: 161px;
  }
  .card-wrapper .card .card__image img {
    width: 100%;
    height: 286px;
  }
  .card-wrapper .card .card__image {
    height: initial;
  }
  .area-prices-list__wrap {
    max-width: 320px;
    width: 100%;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .wrap_container.hello-screen__content {
    width: initial;
    height: 300px;
  }
  .intro-screen.wrap_container .intro-screen__image {
    width: 100%;
    display: block;
  }
  .form-screen,
  .facts-screen.wrap_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    font-size: 39pt;
  }
  body section.advantages_screen div.card-wrapper {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .card-wrapper .card .card__headline {
    font-size: 22pt;
  }
  .infrastructure-screen .card-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form-screen .form-title {
    font-size: 27pt;
    line-height: 1.2;
  }
}
/*# sourceMappingURL=mobile.css.map */